body {
  background-image: url(background.jpeg) ;
  background-size: cover;
}

.jumbotron {
background-color:transparent !important;
color:white;
}

h1 {

color:white;
text-align: center;
}
.par {
  text-align: center;
  color:white;
}
