body {
  background-image: url(blog1.jpeg) ;
  background-size: cover;
}

.ans {
  text-align:center;
  color:white;
}

.par {
 color:#3baff7;
 text-align:center;
}

h1 {
  color:white;
  text-align:center;
}
